*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 1em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #2e2e2e;
  background-color: #f7f4f4;
}

.container {
  /* border: 3px solid #000000; */
  padding: 20px;
}

.input-group {
  width: 90%;
  text-align: center;
  height: 3.4em;
  line-height: 2;
}

.col-half {
  width: 50%;
  padding-right: 10px;
  float: left;
}
